body {
  margin: 0;
  overflow: hidden;
  background: #000;
  color: white;
  font-family: monospace;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
}
